@{
    ViewBag.Title = "ReportsMenu";
    var mySession = (OnlineRequestSystem.Models.ORSession)Session["UserSession"];
}

<br />
<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="panel panel jumbotron boxShadow">
        <div class="panel-heading ORSHeading orHeader">
            <b><span>SDC REPORT </span></b>
        </div>
        <div class="panel">
            <center>
                <div class="panel-heading">
                    <ul class="nav nav-tabs" style="color:black;">
                        <li class="active"><a data-toggle="tab" id="Tabb">SDC</a></li>
                    </ul>
                </div>
            </center>
            <div class="panel-body">
                <span>Select Type of Reports</span>
                <select id="reportType" class="form-control">
                    <option value="Daily">Daily Report</option>
                    <option value="Monthly">Monthly Report</option>
                </select>
                <br />
                <div id="type" hidden> </div>

                <div id="date" hidden>
                    <span>Select Date: </span>
                    <input name="dailyDate" type="text" id="sdcPickDate" class="daydate form-control" placeholder="Click to select date" required />
                    <div>
                        <br />
                        <center>
                            <button id="submitDaily" class="btn btn-sm btn-danger" type="submit" onclick="generateDaily()"><i class="fa fa-download"></i>&nbsp;&nbsp;Generate&nbsp;</button>
                        </center>
                    </div>
                </div>

                <div id="mon" hidden>
                    <style id="calendar">
                        .ui-datepicker-calendar {
                            display: none;
                        }
                    </style>
                    <span>Select Month</span>
                    <br />

                    <input name="monthlyDate" id="sdcStartDate" class="date-picker form-control" placeholder="Click to select month" required />
                    <div>
                        <br />
                        <center>
                            <button id="submitMonthly" class="btn btn-sm btn-danger" type="submit" onclick="generateMonthly()"><i class="fa fa-download"></i>&nbsp;&nbsp;Generate&nbsp;</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3"></div>
@section tableCss{
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css" />
}

@section scripts{
    <script src="~/Scripts/Reports/SDCReport.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script type="text/javascript">      
        $(document).ready(function () {
            var str = "";
            $("select").change(function () {
                var str = $("#reportType").find(":selected").text();
                $("#type").text(str);
                console.log(str);
                if (str == "Daily Report") {
                    $("#date").removeAttr("hidden");
                    $("#mon").attr("hidden", true);
                    $("#calendar").prop('disabled', true);
                }
                else if(str == "Monthly Report") {
                    $("#mon").removeAttr("hidden");
                    $("#date").attr("hidden", true);
                    $("#calendar").prop('disabled', false);
                }
            })
            .trigger("change");
        });

        //generate monthly report; controller is exportMonthly in SDCController
        function generateMonthly() {
            var monthlyDate = $("#sdcStartDate").val();
            if (monthlyDate == "") {
                bootbox.alert({message:'Please select month.', size: "small"});
                return false;
            }
            var dialog = bootbox.dialog({
                message: '<p class="text-center"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;&nbsp;Getting records..</p>',
                closeButton: false
            });
            $.ajax({
                type: "POST",
                url: Url + "/SDC/exportMonthly",
                data: { monthlyDate: monthlyDate },
                success: function (json) {
                    if (json.status == true) {
                        if (json.respcode == 1) {
                            dialog.modal('hide');
                            window.location = Url + "/SDC/DownloadMonthly?filename=" + json.respmessage;
                            console.log(json.respmessage);
                            $(".loginloader").modal('hide');
                        }
                    }
                    else {
                        dialog.modal('hide');
                        $(".loginloader").modal('hide');
                        bootbox.alert({ message: json.msg, size: "small" });
                    }
                },
                error: function () {
                    dialog.modal('hide');
                    bootbox.alert({ message: 'Error, unable to process your request.', size: "small", className: 'bb-alternate-modal' });
                },
            });
        }

        //generate daily report; controller is exportDaily in SDCController
        function generateDaily() {
            var dailyDate = $("#sdcPickDate").val();
            if (dailyDate == "") {
                bootbox.alert({ message: 'Please select date.', size: "small" });
                return false;
            }
            var dialog = bootbox.dialog({
                message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;&nbsp;Please wait while we do something...</p>',
                closeButton: false
            });
            $.ajax({
                type: "POST",
                url: Url + "/SDC/exportDaily",
                data: { dailyDate: dailyDate },
                success: function (json) {
                    if (json.status == true) {
                        if (json.respcode == 1) {
                            dialog.modal('hide');
                            window.location = Url + "/SDC/DownloadDaily?filename=" + json.respmessage;
                            console.log(json.respmessage);
                            $(".loginloader").modal('hide');
                        }
                    }
                    else {
                        dialog.modal('hide');
                        bootbox.alert({ message: json.msg, size: "small" });
                    }
                },
                error: function () {
                    dialog.modal('hide');
                    bootbox.alert({ message: 'Error, unable to process your request.', size: "small", className: 'bb-alternate-modal' });
                },
            });
        }
    </script>
}