.txtSuccess {
    color: #5cb85c;
}

.txtDanger {
    color: #d9534f;
}

.txtWarning {
    color: #EF6C00;
}

.txtPrimary {
    color: #337ab7;
}

.txtInfo {
    color: #5bc0de;
}

.txtDefault {
    color: #fff;
}

.bgSuccess {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bgDanger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bgWarning {
    color: #fff;
    background-color: #EF6C00;
    border-color: #eea236;
}

.bgPrimary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bgInfo {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bgDefault {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btnPending {
    border-color:#bf360c85;
    background-color:#ff5722;
}
.btnPending:hover {
    background-color:#ff5722;
}

.orHeader{
    /*text-shadow:1px 1px #00000087;*/
}

.itmstatus {
    margin-top:10px;
    margin-right:10px;
}

#me {
    -webkit-animation: xx 2s infinite linear;
}

@-webkit-keyframes xx  {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 127px;
  height: 127px;
  margin: 2px;
  border-radius: 50%;
  border: 5px solid #e00707;
  border-color: white transparent white transparent ;
  animation: lds-dual-ring .4s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hoverable:hover {
    transform: scale(1.5);
}
.hoverable:active {
    transform: scale(2.0);
}